<div class="body">
    <form class="form-horizontal" (ngSubmit)="AffectProjectToEmployee()">
<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="nom">employee</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col- xs-7">
 <div class="form-group">
    <div class="form-line">
       <select name="idEmployee" id="idEmployee" [(ngModel)]="selectedEmployee"  >
          <option>select a choice</option>
          <option *ngFor="let u of listEmployee" value="{{u.idEmployee}}" >{{u.email}}</option>
       </select>
    </div> 
    </div>
    </div>
    </div>
    <button type="submit"  class="btn btn-success">submit</button>
</form>
</div>