<mat-toolbar color="primary">

    <div class="mr-auto mt-2 mt-lg-0">
        <span><img src="/assets/img/logo.png" height=30 width=41></span>
        <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
        <a mat-button routerLink="/profil" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Profile</a>
        <a mat-button routerLink="/post" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Posts</a>

        <a mat-button routerLink="" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Employees</a>
        <a mat-button routerLink="/invitations" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Invitations</a>
        <a mat-button routerLink="/travel" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Travels</a>
    </div>
    <div class="my-2 my-sm-0" *ngIf="userDetails">
        <span class="flex-spacer"></span>
        <a mat-raised-button color="warn" (click)="onLogout()"><span class="fa fa-sign-in fa-lg"></span> Logout</a>
    </div>
    <div class="my-2 my-sm-0" *ngIf="!userDetails">
        <span class="flex-spacer"></span>
        <a mat-raised-button color="Basic" routerLink="/user/login"><span class="fa fa-sign-in fa-lg"></span> Login</a>
    </div>

    


</mat-toolbar>