<app-header></app-header>

<div class="container">

<table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th scope="col">depVille</th>
        <th scope="col">desVille</th>
        <th scope="col">dateDep</th>
        <th scope="col">dateDest</th>
        <th scope="col">dateRetour</th>
        <th scope="col">nbIntervenant</th>
        <th scope="col">object</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let travel of travels">
        
        <td>{{travel.depVille}}</td>
        <td>{{travel.desVille}}</td>
        <td>{{travel.dateDep}}</td>
        <td>{{travel.dateDest}}</td>
        <td>{{travel.dateRetour}}</td>
        <td>{{travel.nbIntervenant}}</td>
        <td>{{travel.object}}</td>
        <td>
          <button (click)="Participate()" mat-raised-button color="primary">Participate</button>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>