<div class="panel panel-default">  
  <div class="panel-heading">  
      <h1 style="text-align: center">Students</h1><br>  
      <!-- <div class="row" [hidden]="!deleteMessage">  
             
                <div class="col-sm-4"></div>  
                <div class="col-sm-4">  
                        <div class="alert alert-info alert-dismissible">  
                                <button type="button" class="close" data-dismiss="alert">×</button>  
                                <strong>Student Data Deleted</strong>  
                        </div>  
                </div>  
                <div class="col-sm-4"></div>  
        </div>              -->
    </div>  
  
    
  <div class="panel-body">  
      <table  class="table table-hover table-sm"  >  
          <thead class="thead-light">  
              <tr>  
                <th>ID</th>
                  <th>Employee Complain</th>  
                  <th>opertion</th>
                    
              </tr>  
          </thead>  
          <tbody>  
               <tr *ngFor="let complain of complains">  
                  <td>{{complain.idComplain}}</td>
                  <td>{{complain.body}}</td>  
                  
                  <td><button  (click)="deletecomplain(complain.idComplain)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>   
                    <button  class='btn btn-info' >Update</button>  
                  </td>  
                </tr>   
          </tbody><br>  
      </table>  
  </div>  
</div>   
  
<div class="modal" id="myModal">  
        <div class="modal-dialog">  
          <div class="modal-content">  
              
          </div>  
        </div>  
      </div>  